body {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
header,
.section-inicio,
.section-skills,
.section-hobbies {
  background: #f5f5f5;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  width: 1080px;
  margin: 0 auto;
}
.titulo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

/*Section inicio*/
h1 {
  margin: 15px 0;
  line-height: 50px;
}

#inicio > p {
  margin: 25px 0;
}
.nav-inicio li {
  display: inline;
  margin-right: 25px;
}

.nav-inicio a {
  text-decoration: none;
  color: black;
}
.lista-redes {
  margin: 25px 0;
}
#inicio ul li {
  display: inline-block;
}

#inicio ul li::after {
  content: "🡥";
  margin-left: 10px;
}
#inicio ul li:first-child {
  margin-left: 0;
}
#inicio ul li {
  margin-left: 20px;
}
#inicio ul li a {
  text-decoration: none;
  color: black;
}
.foto-perfil {
  width: 25%;
}

#inicio {
  background: #f5f5f5;
  padding: 24px;
}

/*tamaño de layout*/
.alineacion {
  width: 1080px;
  margin: 0 auto;
}

#inicio {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#inicio h1 {
  font-size: 2rem;
  font-weight: bold;
}

.titulo-secundario {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  margin: 2% 0;
}

/*Sección sobre mi*/
.section-sobremi {
  background-color: #eaf2fd;
}

#sobre-mi {
  padding: 64px;
  height: 300px;
}

/*Sección skills y hobbies*/
#skills,
#hobbies {
  padding: 64px;
}
#skills h2,
#hobbies h2 {
  text-align: center;
}
.lista-skills-hobbies {
  display: flex;
  justify-content: space-around;
}

.lista-skills-hobbies li {
  padding: 2%;
  width: 15%;
  height: 12vh;
  background-color: white;
  position: relative;
  display: flex;
  border-radius: 16px;
  box-shadow: 1px 1px 8px 0px rgb(0 0 0 / 8%);
}

.elementos-interior {
  position: absolute;
  top: 50%;
}

.elementos-interior > img {
  margin-bottom: 10%;
}

.elementos-interior > p {
  font-weight: bold;
}

/*Media tablet*/
@media (max-width: 768px) {
  .section-header {
    width: auto;
    padding: 30px;
  }
  .nav-inicio-li a {
    display: none;
  }
  .alineacion {
    width: auto;
  }
  #inicio {
    padding: 64px;
  }
  .lista-skills-hobbies li {
    height: 9vh;
  }
}

/*Media Mobile*/
@media (max-width: 360px) {
  header {
    font-size: 0.8rem;
    padding: 30px;
  }

  header h1 {
    margin: 0;
    line-height: 19px;
  }
  header img {
    width: 100%;
  }
  #inicio {
    padding: 30px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .foto-perfil {
    width: 37%;
  }
  #inicio h1 {
    font-size: 1rem;
    line-height: 26px;
  }
  .inicio-redes p {
    font-size: 0.7rem;
  }
  .lista-redes {
    margin: 25px 0;
    display: flex;
    font-size: 0.6rem;
  }
  #inicio ul li {
    display: flex;
    justify-content: center;
  }
  #inicio ul li a > img {
    margin-left: 3px;
    width: 12%;
  }
  #sobre-mi {
    height: auto;
  }
}
