body {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

/*tamaño de layout*/
.alineacion {
  width: 1080px;
  margin: 0 auto;
  padding: 24px;
}
/******************/

header,
#inicio,
.section-inicio,
.section-skills,
.section-hobbies,
.section-proyectos {
  background: #f5f5f5;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  width: 1080px;
  margin: 0 auto;
  padding: 2% 0;
}
.titulo {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: -2%;
}

/*Section inicio*/
.titulo-inicio {
  margin: 15px 0;
  line-height: 50px;
  font-size: 2rem;
}

#inicio > p {
  margin: 25px 0;
  font-size: 22px;
}
.nav-inicio li {
  display: inline;
  margin-right: 25px;
}

.nav-inicio a {
  text-decoration: none;
  color: black;
}
.lista-redes {
  margin: 25px 0;
}
#inicio ul li {
  display: inline-block;
}

#inicio ul li i {
  content: "🡥";
  margin-left: 10px;
}

#inicio ul li:first-child {
  margin-left: 0;
}
#inicio ul li {
  margin-left: 20px;
}
#inicio ul li a {
  text-decoration: none;
  color: black;
}
.foto-perfil {
  width: 25%;
}

#inicio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 45px;
}

#inicio h1 {
  font-size: 2rem;
  font-weight: bold;
}

.titulo-secundario {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  margin: 1% 0;
}

/*Sección sobre mi*/
.section-sobremi,
.section-formacion,
.section-contacto {
  background-color: #eaf2fd;
}

#sobre-mi {
  padding: 64px;
  height: 300px;
}

/*Sección skills y hobbies*/
#skills,
#hobbies,
#formacion,
#proyectos,
#contacto {
  padding: 19px 64px;
}
#skills h2,
#hobbies h2 {
  text-align: center;
}
.lista-skills-hobbies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1080px;
  padding: 30px 0 30px 0;
}

.elementos-interior {
  padding: 2%;
  width: 15%;
  height: 18vh;
  background-color: white;
  position: relative;
  display: flex;
  border-radius: 16px;
  box-shadow: 1px 1px 8px 0px rgb(0 0 0 / 8%);
}

.elementos-interior > i {
  font-size: 40px;
  color: #2a7ae4;
  position: absolute;
  top: 45%;
  left: 10%;
}

.elementos-interior > p {
  font-weight: bold;
  position: absolute;
  top: 70%;
  left: 10%;
  margin-top: 14px;
}

/*Seccion formacion*/
#formacion {
  height: auto;
  padding: 64px 64px;
}
#formacion h2 {
  text-align: center;
}
.lista-formaciones {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1080px;
  padding: 30px 0 0 0;
}
.contenedor-formaciones {
  width: 25%;
  height: auto;
}
.items-formacion {
  display: flex;
  width: 100%;
  height: 20vh;
  background-color: white;
  border-radius: 16px;
  box-shadow: 1px 1px 8px 0px rgb(0 0 0 / 8%);
}
.items-formacion > img {
  width: 50%;
  margin: 0 auto;
  object-fit: contain;
  top: 50%;
}
.leyendas {
  margin-left: 3%;
}
.leyendas h4 {
  font-weight: 900;
  margin-top: 2%;
}
.leyendas p {
  font-size: 0.9rem;
  margin-top: 2%;
}

/*Section proyectos*/
#proyectos h2 {
  text-align: center;
}
.items-proyectos {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}
.proyecto {
  width: 56%;
}
.proyecto a > img {
  width: 100%;
}
.proyecto-informacion {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
}
.proyecto-informacion h4 {
  font-weight: bold;
}
.proyecto-informacion p {
  margin: 2% 0;
}
.proyecto-informacion button {
  display: inline;
  padding: 2%;
  width: auto;
  height: 6vh;
  color: white;
  background-color: #2a7ae4;
  border: none;
  cursor: pointer;
}
.proyecto-informacion a {
  text-decoration: none;
}
.proyecto-informacion #repositorio {
  margin-right: 1%;
  color: #2a7ae4;
  border: 1px solid #2a7ae4;
  background-color: #f5f5f5;
}
.proyecto-2 {
  flex-direction: row-reverse;
}

#contacto {
  display: flex;
}
.contacto-imagen {
  width: 40%;
}
.contacto-imagen img {
  width: 100%;
  height: auto;
}
.contacto-info {
  width: 60%;
  padding: 0 2%;
}
form {
  margin-top: 5%;
}
.form-inputs {
  background-color: #ffffff;
  margin-bottom: 2%;
  padding: 1%;
}
form label {
  display: block;
}
form input {
  border: none;
  width: 100%;
}
.form-inputs textarea {
  width: 99%;
  border: none;
}

.btn-enviar {
  width: auto;
  height: 5vh;
  background-color: #2a7ae4;
  color: white;
}

footer {
  text-align: center;
  padding: 2%;
}
/*Media tablet*/
@media (max-width: 768px) {
  .section-header {
    width: auto;
    padding: 48px;
  }
  .nav-inicio-li a {
    display: none;
  }
  .alineacion {
    width: auto;
  }
  #inicio {
    padding: 64px;
  }
  #inicio .titulo-inicio {
    font-size: 22px;
  }

  .lista-skills-hobbies,
  .lista-formaciones,
  .leyendas-formaciones {
    width: auto;
  }
  .elementos-interior,
  .items-formacion {
    height: 10vh;
  }
  .elementos-interior > p {
    font-size: 15px;
  }
  .leyendas {
    height: auto;
  }
  .leyendas h4 {
    margin-top: 2%;
    font-size: 0.8rem;
  }
  .leyendas p {
    margin-top: 3%;
    font-size: 0.7rem;
  }

  .proyecto {
    width: 100%;
  }
  .items-proyectos {
    margin-top: 7%;
  }
  .proyecto-informacion {
    margin: 2% 0;
  }
  .buttons-proyecto {
    margin-top: 2%;
  }
  .buttons-proyecto button {
    height: 4vh;
    width: 40%;
  }
  .buttons-proyecto #repositorio {
    margin-right: 3%;
  }
  .proyecto-informacion-2 {
    margin-right: 60%;
  }

  .contacto-imagen {
    display: none;
  }

  .contacto-info {
    width: 100%;
  }

  .btn-enviar {
    height: 3vh;
  }
}

/*Media Mobile*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .section-header {
    padding: 0;
  }
  header {
    font-size: 0.8rem;
    padding: 18px;
  }

  .section-header h1 {
    margin: 0;
    line-height: 19px;
  }
  header img {
    width: 100%;
  }

  #inicio {
    padding: 28px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .foto-perfil {
    width: 37%;
  }
  #inicio h1 {
    font-size: 1rem;
    line-height: 26px;
  }
  .inicio-redes p {
    font-size: 0.7rem;
  }
  .lista-redes {
    margin: 25px 0;
    display: flex;
    font-size: 0.6rem;
  }
  #inicio ul li {
    display: flex;
    justify-content: center;
  }
  #inicio ul li a > img {
    margin-left: 3px;
    width: 12%;
  }
  #sobre-mi {
    height: auto;
    padding: 28px;
  }

  #skills,
  #hobbies,
  #formacion,
  #proyectos,
  #contacto {
    padding: 24px;
  }
  .elementos-interior {
    width: 43%;
    margin-bottom: 10%;
  }
  .elementos-interior > i {
    font-size: 30px;
  }
  .elementos-interior > p {
    margin-top: 4%;
  }
  .lista-skills-hobbies {
    justify-content: space-between;
  }

  .lista-formaciones {
    justify-content: center;
  }
  .contenedor-formaciones {
    width: 90%;
    margin-top: 7%;
  }

  .leyendas {
    margin-right: 8%;
    margin-top: 3%;
  }
  .leyendas h4,
  .leyendas p {
    font-size: 0.7rem;
  }
  .proyecto-informacion {
    width: 90%;
  }
  .proyecto-informacion-2 {
    margin-right: 10%;
  }
  .buttons-proyecto {
    width: 100%;
  }
  .buttons-proyecto button {
    width: auto;
    height: 3vh;
  }
}
