body {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
header,
.section-inicio,
.section-skills,
.section-hobbies {
  background: #f5f5f5;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  width: 1080px;
  margin: 0 auto;
}
.titulo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

/*Section inicio*/
h1 {
  margin: 15px 0;
  line-height: 50px;
}

#inicio > p {
  margin: 25px 0;
}
.nav-inicio li {
  display: inline;
  margin-right: 25px;
}

.nav-inicio a {
  text-decoration: none;
  color: black;
}
.lista-redes {
  margin: 25px 0;
}
#inicio ul li {
  display: inline-block;
}

#inicio ul li::after {
  content: "🡥";
  margin-left: 10px;
}
#inicio ul li:first-child {
  margin-left: 0;
}
#inicio ul li {
  margin-left: 20px;
}
#inicio ul li a {
  text-decoration: none;
  color: black;
}
.foto-perfil {
  width: 25%;
}

#inicio {
  background: #f5f5f5;
  padding: 24px;
}

/*tamaño de layout*/
.alineacion {
  width: 1080px;
  margin: 0 auto;
}

#inicio {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#inicio h1 {
  font-size: 2rem;
  font-weight: bold;
}

.titulo-secundario {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  margin: 2% 0;
}

/*Sección sobre mi*/
.section-sobremi,
.section-formacion {
  background-color: #eaf2fd;
}

#sobre-mi {
  padding: 64px;
  height: 300px;
}

/*Sección skills y hobbies*/
#skills,
#hobbies {
  padding: 30px;
}
#skills h2,
#hobbies h2 {
  text-align: center;
}
.lista-skills-hobbies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1080px;
  padding: 30px 0 30px 0;
  text-align: center;
}

.elementos-interior {
  padding: 2%;
  width: 15%;
  height: 18vh;
  background-color: white;
  position: relative;
  display: flex;
  border-radius: 16px;
  box-shadow: 1px 1px 8px 0px rgb(0 0 0 / 8%);
}

.elementos-interior > img {
  width: 15%;
  position: absolute;
  top: 55%;
  left: 10%;
}

.elementos-interior > p {
  font-weight: bold;
  position: absolute;
  top: 70%;
  left: 10%;
  margin-top: 14px;
}

/*Seccion formacion*/
#formacion {
  padding: 30px;
}
#formacion h2 {
  text-align: center;
}
.lista-formaciones {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1080px;
  padding: 30px 0 0 0;
  text-align: center;
}
.items-formacion {
  padding: 2%;
  width: 15%;
  height: 18vh;
  background-color: white;
  position: relative;
  display: flex;
  border-radius: 16px;
  box-shadow: 1px 1px 8px 0px rgb(0 0 0 / 8%);
}
.items-formacion > img {
  width: 50%;
  margin: 0 auto;
  object-fit: contain;
  top: 50%;
}
.items-formacion > h4 {
  position: absolute;
  bottom: -11%;
}
.items-formacion > p {
  position: absolute;
  bottom: -17%;
}
.leyendas-formaciones {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1080px;
}
.leyendas {
  width: 15%;
  height: 18vh;
  margin-top: 1%;
}
.leyendas h4 {
  font-weight: 900;
  margin-top: 2%;
}
.leyendas p {
  font-size: 0.9rem;
  margin-top: 2%;
}
/*Media tablet*/
@media (max-width: 768px) {
  .section-header {
    width: auto;
    padding: 30px;
  }
  .nav-inicio-li a {
    display: none;
  }
  .alineacion {
    width: auto;
  }
  #inicio {
    padding: 64px;
  }
  .lista-skills-hobbies,
  .lista-formaciones,
  .leyendas-formaciones {
    width: auto;
  }
  .elementos-interior,
  .items-formacion {
    height: 10vh;
  }
  .elementos-interior > p {
    font-size: 15px;
  }
  .leyendas {
    height: 6vh;
  }
  .leyendas h4 {
    margin-top: 2%;
    font-size: 0.8rem;
  }
  .leyendas p {
    margin-top: 3%;
    font-size: 0.7rem;
  }
}

/*Media Mobile*/
@media (max-width: 375px) {
  header {
    font-size: 0.8rem;
    padding: 30px;
  }

  .section-header h1 {
    margin: 0;
    line-height: 19px;
  }
  header img {
    width: 100%;
  }
  #inicio {
    padding: 30px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .foto-perfil {
    width: 37%;
  }
  #inicio h1 {
    font-size: 1rem;
    line-height: 26px;
  }
  .inicio-redes p {
    font-size: 0.7rem;
  }
  .lista-redes {
    margin: 25px 0;
    display: flex;
    font-size: 0.6rem;
  }
  #inicio ul li {
    display: flex;
    justify-content: center;
  }
  #inicio ul li a > img {
    margin-left: 3px;
    width: 12%;
  }
  #sobre-mi {
    height: auto;
  }
  .elementos-interior {
    width: 30%;
    margin-bottom: 10%;
  }
  .elementos-interior > img {
    top: 64%;
  }
  .elementos-interior > img {
    width: 18%;
  }
  .items-formacion {
    flex-wrap: wrap;
    margin-top: 4%;
    width: 25%;
    height: 8vh;
  }
  .leyendas {
    margin-right: 8%;
    margin-top: 3%;
  }
  .leyendas h4,
  .leyendas p {
    font-size: 0.7rem;
  }
}
