.nav-inicio {
  display: flex;
}
.nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  display: none;
}
.ul-inicio {
  display: flex;
  margin-right: 35px;
}
.nav-inicio a {
  text-decoration: none;
  color: black;
}
.nav-inicio-li {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .ul-inicio {
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    position: fixed;
    top: 100px;
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }

  .nav-toggle {
    display: block;
    margin-left: 53%;
  }
  .nav-inicio-li {
    padding: 20px 0;
  }
  .nav-menu_visible {
    left: 0;
  }
}
