.lista-redes {
  display: flex;
  margin: 25px 0;
}

.lista-redes li:first-child {
  margin-left: 0;
}
.lista-redes li {
  margin-left: 20px;
}
.lista-redes li a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #inicio ul li {
    display: flex;
    justify-content: center;
    margin-left: 3px;
  }
  .lista-redes {
    width: 100%;
    justify-content: flex-start;
  }
  .lista-redes li a {
    font-size: 1.3em;
  }
}
