.section-contacto {
  background-color: #eaf2fd;
}
.titulo-contacto {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 3%;
  text-align: center;
}
#contacto {
  display: flex;
}

.contacto-imagen {
  width: 40%;
}

.contacto-imagen img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .contacto-imagen {
    display: none;
    box-sizing: border-box;
  }
  .titulo-contacto {
    text-align: start;
  }
}
